<p id="notice"><%= notice %></p>

<p>
  <strong>Dateissue:</strong>
  <%= @delivery.dateissue %>
</p>

<p>
  <strong>Datereturn:</strong>
  <%= @delivery.datereturn %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
